Django==2.2.10
django-allauth==0.37.1
django-cors-headers==2.4.0
djangorestframework==3.8.2
django-rest-auth==0.9.3

pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
pep8==1.7.1
autopep8==1.4.3
flake8==3.7.5

djoser==1.4.0
